<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="uris.apps.com"
      android:versionCode="1"
      android:versionName="0.9 Beta">
  <uses-sdk
      android:minSdkVersion="7"
      android:targetSdkVersion="7"
      />
  <supports-screens
      android:largeScreens="false"
      android:normalScreens="true"
      android:smallScreens="true"
      android:anyDensity="false"
      />
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="InterArt"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<activity android:name=".PlayGame"
		  android:label="@string/app_name">
	</activity>
	<activity android:name=".OptionsMenu"
		  android:label="@string/app_name">
	</activity>
	<activity android:name=".ScoreReport"
		  android:label="@string/app_name">
	</activity>
	<activity android:name=".GoScreenActivity"
		  android:label="@string/app_name">
	</activity>
    </application>
</manifest> 
